<button class="btn btn-primary" (click)="new()">Alta de cliente</button>

<table class="table" border="1">
    <thead>
        <tr>
            <th class="visually-hidden">Id</th>
            <th align="center">Nombre</th>
            <th align="center">Apellido</th>
            <th align="center">Email</th>
            <th align="center">Grupo de cliente</th>
            <th align="center" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
            <td class="visually-hidden">{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.grupoCliente.nombre }}</td>
            <td> 
                <button class="btn btn-update" (click)="update(cliente.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>   
            </td>
            <td> 
                <button class="btn" (click)="delete(cliente.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>