<button class="btn btn-primary" (click)="new()">Alta de cliente</button>

<br/>
<br/>
<div class="md-4">
    Buscar por 
    <select name="field" id="field">
        <option value="nombre">Nombre</option>
        <option value="apellido">Apellido</option>
        <option value="email">Email</option>
        <option value="grupoCliente">Grupo de cliente</option>
        <option value="observaciones">Observaciones</option>
    </select>&nbsp; 
    <input type="text" name="busqueda" id="busqueda">&nbsp;
    <button class="btn btn-primary" (click)="busqueda()">Buscar</button>&nbsp;
    <button class="btn btn-primary" (click)="limpiarBusqueda()">Limpiar</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th class="visually-hidden">Id</th>
            <th align="center">Nombre</th>
            <th align="center">Apellido</th>
            <th align="center">Email</th>
            <th align="center">Grupo de cliente</th>
            <th align="center" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
            <td class="visually-hidden">{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.grupoCliente.nombre }}</td>
            <td> 
                <button class="btn btn-update" (click)="update(cliente.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>   
            </td>
            <td> 
                <button class="btn" (click)="delete(cliente.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>