<form class="col-md-12" #grupoClienteForm="ngForm" (ngSubmit)="grupoClienteNewSubmit()">
    
    <div class="row">
        <div class="col-md-12">
            <label for="nombre" class="form-label">Nombre *</label>
            <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="grupoCliente.nombre" required/>
            <small style="color: red;" *ngIf="!nombre.valid && nombre.touched">
                El nombre es obligatorio.
            </small>
        </div>
    </div>
    <div class="clear-fix">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" [disabled]="grupoClienteForm.invalid">Guardar</button>
        </div>
    </div>
</form>